* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 44px;
}

header ul {
    width: 100%;
    height: 100%;
    display: flex;
    background: peachpuff;
}

ul li {
    flex-grow: 1;
    line-height: 44px;
    text-align: center;
}

section {
    flex-grow: 1;
    width: 100%;
}

ol {
    width: 100%;
    height: 100%;
}

ol li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}